@import 'variables';

.board-human {
  align-self: end;
  justify-self: end;
}

.board-computer {
  align-self: start;
  justify-self: start;
}

.board {
  display: grid;
  width: $board-width;
  height: $board-width;
  grid-template-columns: repeat($board-size, 1fr);
  background-color: white;
  border-radius: 10px;
  box-shadow: $shadow;

  .board-case {
    border: solid rgba(0,0,0,0.15) 1px;
    cursor: pointer;

    @include board;
  }

  .initial {
    background-color: $initial;
  }

  .hit {
    background-color: $hit;
    cursor: default;
  }

  .miss {
    background-color: $miss;
    cursor: default;
  }
}